@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.05em;
}

p, span, div, input, button {
  font-family: 'Times New Roman', Times, serif;
}